@font-face {
  font-family: 'sie';
  src: url('fonts/sie.eot?k23maz');
  src: url('fonts/sie.eot?k23maz#iefix') format('embedded-opentype'),
    url('fonts/sie.ttf?k23maz') format('truetype'), url('fonts/sie.woff?k23maz') format('woff'), url('fonts/sie.svg?k23maz#sie') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sie::before,[class*=" sie-"]::before,[class^=sie-]::before {
  display: inline-block;
  line-height: 1;
  vertical-align: -.125em;
  content: '\00a0';

  font-family: 'sie' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a:hover .sie, a:hover [class^="sie-"], a:hover [class*=" sie-"],
a:focus .sie, a:focus [class^="sie-"], a:focus [class*=" sie-"] {
  transition: transform 0.2s;
  transform: translateY(2px);
}

.sie-astrology-earth:before { content: "\e900"; }
.sie-astrology-mercury:before { content: "\e901"; }
.sie-astrology-neptune:before { content: "\e902"; }
.sie-astrology-sun:before { content: "\e903"; }
.sie-celtic-rune:before { content: "\e904"; }
.sie-celtic-rune2:before { content: "\e905"; }
.sie-celtic-rune3:before { content: "\e906"; }
.sie-celtic-rune4:before { content: "\e907"; }
.sie-celtic-rune5:before { content: "\e908"; }
.sie-elemental2-air:before { content: "\e909"; }
.sie-elemental2-earth:before { content: "\e90a"; }
.sie-elemental2-fire:before { content: "\e90b"; }
.sie-elemental2-water:before { content: "\e90c"; }
.sie-elemental-air:before { content: "\e90d"; }
.sie-elemental-earth:before { content: "\e90e"; }
.sie-elemental-fire:before { content: "\e90f"; }
.sie-elemental-water:before { content: "\e910"; }
.sie-illuminati-all-seeing-eye:before { content: "\e911"; }
.sie-illuminati-eye-hand:before { content: "\e912"; }
.sie-religion-ankh:before { content: "\e913"; }
.sie-religion-bell:before { content: "\e914"; }
.sie-religion-candles:before { content: "\e915"; }
.sie-religion-cauldron:before { content: "\e916"; }
.sie-religion-crystal:before { content: "\e917"; }
.sie-religion-incense-burner:before { content: "\e918"; }
.sie-religion-knife:before { content: "\e919"; }
.sie-religion-medium:before { content: "\e91a"; }
.sie-religion-menorah:before { content: "\e91b"; }
.sie-religion-palmistry:before { content: "\e91c"; }
.sie-religion-pendulum:before { content: "\e91d"; }
.sie-religion-pentagram:before { content: "\e91e"; }
.sie-religion-potion:before { content: "\e91f"; }
.sie-religion-singing-bowl:before { content: "\e920"; }
.sie-religion-spirit-board:before { content: "\e921"; }
.sie-religion-tarot:before { content: "\e922"; }
.sie-religion-voodoo:before { content: "\e923"; }
.sie-religion-voodoo-doll:before { content: "\e924"; }
.sie-religion-yin-yang:before { content: "\e925"; }
.sie-zodiac-aquarius:before { content: "\e926"; }
.sie-zodiac-aries:before { content: "\e927"; }
.sie-zodiac-cancer:before { content: "\e928"; }
.sie-zodiac-capricorn:before { content: "\e929"; }
.sie-zodiac-gemini:before { content: "\e92a"; }
.sie-zodiac-leo:before { content: "\e92b"; }
.sie-zodiac-libra:before { content: "\e92c"; }
.sie-zodiac-pisces:before { content: "\e92d"; }
.sie-zodiac-sagittarius:before { content: "\e92e"; }
.sie-zodiac-scorpio:before { content: "\e92f"; }
.sie-zodiac-taurus:before { content: "\e930"; }
.sie-zodiac-virgo:before { content: "\e931"; }
