$icomoon-font-family: "sie" !default;
$icomoon-font-path: "fonts" !default;

$sie-astrology-earth: "\e900";
$sie-astrology-mercury: "\e901";
$sie-astrology-neptune: "\e902";
$sie-astrology-sun: "\e903";
$sie-celtic-rune: "\e904";
$sie-celtic-rune2: "\e905";
$sie-celtic-rune3: "\e906";
$sie-celtic-rune4: "\e907";
$sie-celtic-rune5: "\e908";
$sie-elemental2-air: "\e909";
$sie-elemental2-earth: "\e90a";
$sie-elemental2-fire: "\e90b";
$sie-elemental2-water: "\e90c";
$sie-elemental-air: "\e90d";
$sie-elemental-earth: "\e90e";
$sie-elemental-fire: "\e90f";
$sie-elemental-water: "\e910";
$sie-illuminati-all-seeing-eye: "\e911";
$sie-illuminati-eye-hand: "\e912";
$sie-religion-ankh: "\e913";
$sie-religion-bell: "\e914";
$sie-religion-candles: "\e915";
$sie-religion-cauldron: "\e916";
$sie-religion-crystal: "\e917";
$sie-religion-incense-burner: "\e918";
$sie-religion-knife: "\e919";
$sie-religion-medium: "\e91a";
$sie-religion-menorah: "\e91b";
$sie-religion-palmistry: "\e91c";
$sie-religion-pendulum: "\e91d";
$sie-religion-pentagram: "\e91e";
$sie-religion-potion: "\e91f";
$sie-religion-singing-bowl: "\e920";
$sie-religion-spirit-board: "\e921";
$sie-religion-tarot: "\e922";
$sie-religion-voodoo: "\e923";
$sie-religion-voodoo-doll: "\e924";
$sie-religion-yin-yang: "\e925";
$sie-zodiac-aquarius: "\e926";
$sie-zodiac-aries: "\e927";
$sie-zodiac-cancer: "\e928";
$sie-zodiac-capricorn: "\e929";
$sie-zodiac-gemini: "\e92a";
$sie-zodiac-leo: "\e92b";
$sie-zodiac-libra: "\e92c";
$sie-zodiac-pisces: "\e92d";
$sie-zodiac-sagittarius: "\e92e";
$sie-zodiac-scorpio: "\e92f";
$sie-zodiac-taurus: "\e930";
$sie-zodiac-virgo: "\e931";

